packages:
  yum:
    gcc: []
    make: []
    libxml2: []
    libxml2-devel: []
    gcc-c++: []
    python27: []

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/50npm.sh" :
    mode: "000775"
    owner: root
    group: root
    content: |
      #!/bin/bash
      
      sudo /opt/elasticbeanstalk/containerfiles/ebnode.py --action npm-install
