packages:
  yum:
    gcc: []
    make: []
    openssl-devel: []
    libxml2: []
    libxml2-devel: []
    gcc-c++: []
    python27: []

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/05set_home_env.sh" :
    mode: "000775"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      . /opt/elasticbeanstalk/support/envvars
      export HOME=/home/user-ec2
      export USERPROFILE=/home/ec2-user
